{% extends "../base.html" %}
{% block title %}Basket Summary{% endblock %}
{% block content %}
    <main class="pt-5">
        <div class="container">
            <h1 class="h5">Shopping basket</h1>
            {% for item in basket %}
                {% with product=item.product %}
                    <div data-index="{{ product.id }}" class="row mb-4 border product-item">
                        <div class="col-md-3 col-lg-2 order-md-first bg-light">
                            <img class="img-fluid mx-auto d-block"
                                 width="100%"
                                 alt="Responsive image"
                                 src="{{ product.image.url }}">
                        </div>
                        <div class="col-md-9 col-lg-10 ps-md-3 ps-lg-10">
                            <a href="{{ product.get_absolute_url }}"
                               class="text-decoration-none text-reset">
                                <h1 class="h5 pt-2">{{ product.title }}</h1>
                            </a>
                            <div class="border">
                                <div class="col border-bottom">
                                    <div class="row p-3">
                                        <div class="col-6">Hardback Book</div>
                                        <div class="col-6 text-end">
                                            <span class="h6 fw-bold">£{{ product.price }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="row p-3">
                                        <div class="col-12">
                                            <div class="input-group mb-3 inputs">
                                                <span class="input-group-text" id="basic-addon1">Quantity</span>
                                                <input id="qty"
                                                       type="number"
                                                       class="form-control"
                                                       style="min-width: 70px"
                                                       value='{{ item.qty }}'
                                                       min='1'>
                                                <button type="button"
                                                        data-index="{% url 'basket:BasketAPI' product.id %}"
                                                        class="btn btn-outline-secondary btn-sm update-button">
                                                    Update
                                                </button>
                                                <button type="button"
                                                        data-index="{% url 'basket:BasketAPI' product.id %}"
                                                        class="btn btn-outline-secondary btn-sm delete-button">
                                                    Delete
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endwith %}
            {% endfor %}
            <div class="col-12 text-end mb-3">
                <div class="h6 fw-bold">
                    Sub Total: £
                    <div id="subtotal" class="d-inline-flex">{{ total_price }}</div>
                </div>
            </div>
        </div>
    </main>
    <script>
        document.querySelectorAll('div.inputs').forEach((div) => {
            div.querySelector('.delete-button').onclick = (event) => {
                if (event.target.hasAttribute('disabled')) return null;
                event.target.setAttribute('disabled', null);
                document.body.style.cursor = 'await';
                fetch(event.target.getAttribute('data-index'), {
                    method: 'DELETE',
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}',
                    },
                })
                .then(async (response) => {
                    if (response.status === 200) {
                        result = await response.json();
                        document.querySelector('#basketItemCount').innerText = result.basket_item_count;
                        document.querySelector('#subtotal').innerText = result.total_price
                        document.querySelector(`div[data-index='${result.item_id}']`).remove()
                    } else {
                        throw new Error(`Unexpected Status Code: ${response.status}`);
                    }
                        
                })
                .catch((err) => {
                    console.log(err);
                })
                .finally(() => {
                    event.target.removeAttribute('disabled');
                    document.body.style.cursor = undefined;
                });
            }
            div.querySelector('.update-button').onclick = (event) => {
                if (event.target.hasAttribute('disabled')) return null;
                event.target.setAttribute('disabled', null);
                document.body.style.cursor = 'await';
                fetch(event.target.getAttribute('data-index'), {
                    method: 'PATCH',
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}',
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({qty:event.target.parentNode.querySelector('#qty').value}),
                })
                .then(async (response) => {
                    if (response.status === 200) {
                        result = await response.json();
                        document.querySelector('#basketItemCount').innerText = result.basket_item_count;
                        document.querySelector('#subtotal').innerText = result.total_price
                    } else {
                        throw new Error(`Unexpected Status Code: ${response.status}`);
                    }
                        
                })
                .catch((err) => {
                    console.log(err);
                })
                .finally(() => {
                    event.target.removeAttribute('disabled');
                    document.body.style.cursor = undefined;
                });
            }
        })    
    </script>
{% endblock %}
